body {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  background-color: #040404;
  max-width: calc(100vw - (100vw - 100%));
  overflow-x: hidden;
}
* {
  max-width: 100vw !important;
}
p,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  text-transform: capitalize;
}
